body {
    background: #0a0a0a;
    font-family: Arial;
}

.login-box {
    width: 350px;
    margin: 120px auto;
    padding: 30px;
    background: rgba(0,0,0,0.7);
    border-radius: 12px;
    color: white;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}
