body {
    background: url("/static/wallpaper.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: white;
}

.menu-container {
    text-align: center;
    margin-top: 120px;
}

.menu-box {
    display: inline-block;
    padding: 25px 35px;
    background: rgba(0,0,0,0.6);
    border-radius: 15px;
}

.menu-box a {
    display: block;
    margin: 15px 0;
    padding: 12px;
    background: #222;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s;
}

.menu-box a:hover {
    background: #444;
}

.logout {
    background: #a00000 !important;
}

.content {
    margin: 120px auto;
    width: 70%;
    padding: 30px;
    background: rgba(0,0,0,0.6);
    border-radius: 15px;
}

.back {
    color: yellow;
    font-size: 18px;
}

.content-box {
    width: 80%;
    margin: 120px auto;
    padding: 30px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    display: flex;
    gap: 30px;
    align-items: center;
    color: white;
}

.content-box img {
    width: 250px;
    height: auto;
    border-radius: 12px;
    border: 3px solid white;
}

.text-area {
    flex: 1;
}

.text-area h2 {
    margin-bottom: 15px;
    font-size: 28px;
}

.text-area p {
    font-size: 18px;
    line-height: 1.5;
}

.back {
    display: inline-block;
    margin-top: 20px;
    color: yellow;
    text-decoration: none;
    font-size: 18px;
}
