<!DOCTYPE html>
<html>
<head>
    <title>Awal Kenal</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="content-box">
    <img src="/static/awal.jpeg">

    <div class="text-area">
        <h2>Awal Kenal</h2>
        <p>
            Ini adalah cerita tentang awal perkenalan...  
            Pada tahun 2020 adalah kisah pertama kami bertemu, dimana pada saat itu 
            kita sangat bahagia dan senang karena kita menyatukan dua hati yang tak pernah saling mengenali.
        </p>
        <a href="/home" class="back">Kembali</a>
    </div>
</div>

</body>
</html>
