<!DOCTYPE html>
<html>
<head>
    <title>Perjalanan</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="content-box">
    <img src="/static/perjalanan.jpeg">

    <div class="text-area">
        <h2>Perjalanan</h2>
        <p>
            Perjalanan kami berawal dari LDR an atau cinta jarak jauh, karena dia
            tinggal di sebuah desa bernama Inderapura, dana saya tinggal di kota Padang,tapi
            karena perjuangan tersebutlah rasa sayang ini tumbuh begitu indah nya.
        </p>
        <a href="/home" class="back">Kembali</a>
    </div>
</div>

</body>
</html>
