<!DOCTYPE html>
<html>
<head>
    <title>Tentang</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="content-box">
    <img src="/static/tentang.jpeg">

    <div class="text-area">
        <h2>Tentang Nico</h2>
        <p>
            kami berdua memiliki cita cita yang sama, dimana kami ingin menyatukah dua hubungan ini 
            menjadi satu keluarga besar, maka dari itu kami menambah ilmu pengetahuan sampai dimana
            bisa berkuliah, semoga ditahun tahun berikut nya kita bisa terus bersama.
        </p>
        <a href="/home" class="back">Kembali</a>
    </div>
</div>

</body>
</html>
